// .g-hdp{
//   width: 100%;
//   min-width: 1200px;
//   height: calc(100vh - 61.5px);
//   position: absolute;
//   top: 61.5px;
//   bottom: 0;
// }
.m-btn-2 {
   text-align: center;
    height: 35px;
    color: #000;
    border: none;
    border-radius: 3px;
    transition: all .7s;
    font-size: 14px;
    overflow: hidden;
    background-color: #fff;
    padding: 0 70px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    }
  .btn-blue {
    background-color: #57b9f8;
    color: #fff;
}
.m-scan-item {
    float: right;
    text-align: right;
}
// .m-scan-item {
//     float: left;
//     width: 25%;
//     padding-top: 15px;
// }