<div class="g-hdp">
  <div class="g-list">
    <div class="m-user-nav">
      <ul class="m-usertree">
        <li routerLinkActive="active">
          <a routerLink="/order/order-normal">标准销售订单</a>
        </li>
        <!-- <li routerLinkActive="active">
                    <a routerLink="/order/order-frame">框架合同订单</a>
                </li> -->
        <li routerLinkActive="active">
          <a routerLink="/order/order-macao">澳门销售订单</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/order/order-others">其他销售订单</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/order/order-contract">合同物料查询</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/order/order-completed">查询已完成订单</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="g-right">
    <router-outlet></router-outlet>
  </div>
</div>
