<div style="height: 100%;padding-top: 62px">
   <div class="m-home-page">
       <div class="m-home-pageR clearfix">
           <!--菜单-->
           <div class="m-boardtop clearfix">
               <div class="m-crumb">
                   <ul>我的位置：
                       <li><a href="#">DCG业务管理平台</a></li>
                       <li><a href="#">冲红退换货</a></li>
                       <li><a href="#">我的申请</a></li>
                   </ul>
               </div>
               <div class="m-dropdown g-fr">
                   <button class="m-btn-main-2">+ 新建冲红申请</button>
                   <ul class="m-dropdown-option">
                       <li>
                           <i class="iqon-direct-right"></i>
                           新建冲红申请
                       </li>
                       <li>新建退换货申请</li>
                   </ul>
               </div>
           </div>
           <!--搜索-->
           <div class="m-list-menu">
               <ul class="m-state">
                   <li class="active">审批中</li>
                   <li>全部</li>
                   <li>已完成</li>
               </ul>
               <div class="m-search-all">
                   <div class="m-select">
                       <i class="iqon-xia"></i>
                       <select>
                           <option>-全部公司</option>
                           <option>222</option>
                           <option>333</option>
                           <option>444</option>
                           <option>555</option>
                       </select>
                   </div>
                   <div class="m-search">
                       <i class="iqon-query"></i>
                       <input name="state" placeholder="发票号/申请人/ITCode" type="text">
                   </div>
               </div>
           </div>
           <!--表格-->
           <div class="m-table-right">
               <div class="table-auto-content">
                   <table class="table table-hover table-list" style="table-layout: fixed;">
                       <thead>
                       <tr>
                           <th>申请单号<i class="iqon-orderdown"></i></th>
                           <th class="w250">ddd公司</th>
                           <th>当前环节</th>
                           <th>当前处理人</th>
                           <th>申请日期<i class="iqon-order"></i></th>
                           <th>申请单号<i class="iqon-orderdown"></i></th>
                           <th class="w250">公司</th>
                           <th>当前环节</th>
                           <th>当前处理人</th>
                           <th>申请日期<i class="iqon-order"></i></th>
                       </tr>
                       </thead>
                       <tbody>
                       <tr>
                           <td>20160764354</td>
                           <td class="w250"> 0001-神州数码（中国）有限公司</td>
                           <td class="m-orange w122">已撤回</td>
                           <td>
                               <div class="m-user-info">
                                   <img alt="纪永凤" class="m-user-img" src="assets/default-user.png">
                                   <span class="m-user-name">纪永凤</span>
                                   <span class="m-user-ename">jiyf</span>
                                   <i class="iqon-close-m"></i>
                               </div>
                           </td>
                           <td>2017-03-01</td>
                           <td>20160764354</td>
                           <td class="w250"> 0001-神州数码（中国）有限公司</td>
                           <td class="m-orange w122">已撤回</td>
                           <td>
                               <div class="m-user-info">
                                   <img alt="纪永凤" class="m-user-img" src="assets/default-user.png">
                                   <span class="m-user-name">纪永凤</span>
                                   <span class="m-user-ename">jiyf</span>
                                   <i class="iqon-close-m"></i>
                               </div>
                           </td>
                           <td>2017-03-01</td>
                       </tr>
                       <tr>
                           <td>20160764354</td>
                           <td class="w250"> 0001-神州数码（中国）有限公司</td>
                           <td>财务审核</td>
                           <td>
                               -
                           </td>
                           <td>2017-03-01</td>
                           <td>20160764354</td>
                           <td class="w250"> 0001-神州数码（中国）有限公司</td>
                           <td>财务审核</td>
                           <td>
                               -
                           </td>
                           <td>2017-03-01</td>
                       </tr>
                       <tr>
                           <td>20160764354</td>
                           <td class="w250"> 0001-神州数码（中国）有限公司</td>
                           <td class="m-gry">已完成</td>
                           <td>
                               <div class="m-user-info">
                                   <img alt="纪永凤" class="m-user-img" src="assets/default-user.png">
                                   <span class="m-user-name">纪永凤</span>
                                   <span class="m-user-ename">jiyf</span>
                                   <i class="iqon-close-m"></i>
                               </div>
                           </td>
                           <td>2017-03-01</td>
                           <td>20160764354</td>
                           <td class="w250"> 0001-神州数码（中国）有限公司</td>
                           <td class="m-gry">已完成</td>
                           <td>
                               <div class="m-user-info">
                                   <img alt="纪永凤" class="m-user-img" src="assets/default-user.png">
                                   <span class="m-user-name">纪永凤</span>
                                   <span class="m-user-ename">jiyf</span>
                                   <i class="iqon-close-m"></i>
                               </div>
                           </td>
                           <td>2017-03-01</td>
                       </tr>
                       <tr>
                           <td>20160764354</td>
                           <td class="w250"> 0001-神州数码（中国）有限公司</td>
                           <td class="m-orange">已撤回</td>
                           <td>
                               <div class="m-user-info">
                                   <img alt="纪永凤" class="m-user-img" src="assets/default-user.png">
                                   <span class="m-user-name">纪永凤</span>
                                   <span class="m-user-ename">jiyf</span>
                                   <i class="iqon-close-m"></i>
                               </div>
                           </td>
                           <td>2017-03-01</td>
                           <td>20160764354</td>
                           <td class="w250"> 0001-神州数码（中国）有限公司</td>
                           <td class="m-orange">已撤回</td>
                           <td>
                               <div class="m-user-info">
                                   <img alt="纪永凤" class="m-user-img" src="assets/default-user.png">
                                   <span class="m-user-name">纪永凤</span>
                                   <span class="m-user-ename">jiyf</span>
                                   <i class="iqon-close-m"></i>
                               </div>
                           </td>
                           <td>2017-03-01</td>
                       </tr>
                       <tr>
                           <td>20160764354</td>
                           <td class="w250"> 0001-神州数码（中国）有限公司</td>
                           <td class="m-orange">已撤回</td>
                           <td>
                               -
                           </td>
                           <td>2017-03-01</td>
                           <td>20160764354</td>
                           <td class="w250"> 0001-神州数码（中国）有限公司</td>
                           <td class="m-orange">已撤回</td>
                           <td>
                               -
                           </td>
                           <td>2017-03-01</td>
                       </tr>
                       <tr>
                           <td>20160764354</td>
                           <td class="w250"> 0001-神州数码（中国）有限公司</td>
                           <td class="m-orange">已撤回</td>
                           <td>
                               <div class="m-user-info">
                                   <img alt="纪永凤" class="m-user-img" src="assets/default-user.png">
                                   <span class="m-user-name">纪永凤</span>
                                   <span class="m-user-ename">jiyf</span>
                                   <i class="iqon-close-m"></i>
                               </div>
                           </td>
                           <td>2017-03-01</td>
                           <td>20160764354</td>
                           <td class="w250"> 0001-神州数码（中国）有限公司</td>
                           <td class="m-orange">已撤回</td>
                           <td>
                               <div class="m-user-info">
                                   <img alt="纪永凤" class="m-user-img" src="assets/default-user.png">
                                   <span class="m-user-name">纪永凤</span>
                                   <span class="m-user-ename">jiyf</span>
                                   <i class="iqon-close-m"></i>
                               </div>
                           </td>
                           <td>2017-03-01</td>
                       </tr>
                       <tr>
                           <td>20160764354</td>
                           <td class="w250"> 0001-神州数码（中国）有限公司</td>
                           <td class="m-orange">已撤回</td>
                           <td>
                               <div class="m-user-info">
                                   <img alt="纪永凤" class="m-user-img" src="assets/default-user.png">
                                   <span class="m-user-name">纪永凤</span>
                                   <span class="m-user-ename">jiyf</span>
                                   <i class="iqon-close-m"></i>
                               </div>
                           </td>
                           <td>2017-03-01</td>
                           <td>20160764354</td>
                           <td class="w250"> 0001-神州数码（中国）有限公司</td>
                           <td class="m-orange">已撤回</td>
                           <td>
                               <div class="m-user-info">
                                   <img alt="纪永凤" class="m-user-img" src="assets/default-user.png">
                                   <span class="m-user-name">纪永凤</span>
                                   <span class="m-user-ename">jiyf</span>
                                   <i class="iqon-close-m"></i>
                               </div>
                           </td>
                           <td>2017-03-01</td>
                       </tr>
                       </tbody>
                   </table>
               </div>
               <div class="table-handle-content">
                   <table >
                       <thead>
                       <tr>
                           <th class="m-text-center">操作</th>
                       </tr>
                       </thead>
                       <tbody>
                       <tr>
                           <td>
                               <span class="m-add-information">补充资料</span>
                               <span class="m-see-information">查看</span>
                               <span class="m-del-information">删除</span>
                           </td>
                       </tr>
                       <tr>
                           <td>
                               <span class="m-add-information">补充资料</span>
                               <span class="m-see-information">查看</span>
                               <span class="m-del-information">删除</span>
                           </td>
                       </tr>
                       <tr>
                           <td>
                               <span class="m-add-information">补充资料</span>
                               <span class="m-see-information">查看</span>
                               <span class="m-del-information">删除</span>
                           </td>
                       </tr>
                       <tr>
                           <td>
                               <span class="m-add-information">补充资料</span>
                               <span class="m-see-information">查看</span>
                               <span class="m-del-information">删除</span>
                           </td>
                       </tr>
                       <tr>
                           <td>
                               <span class="m-add-information">补充资料</span>
                               <span class="m-see-information">查看</span>
                               <span class="m-del-information">删除</span>
                           </td>
                       </tr>
                       <tr>
                           <td>
                               <span class="m-add-information">补充资料</span>
                               <span class="m-see-information">查看</span>
                               <span class="m-del-information">删除</span>
                           </td>
                       </tr>
                       <tr>
                           <td>
                               <span class="m-add-information">补充资料</span>
                               <span class="m-see-information">查看</span>
                               <span class="m-del-information">删除</span>
                           </td>
                       </tr>

                       </tbody>
                   </table>
               </div>
               <div class="page">
                   <div class="page-wrap">
                       <div class="page-size">
                           显示：
                           <a>10</a>
                           <a>20</a>
                           <a>50</a>
                           条/页
                       </div>
                       <div class="page-all">
                           共117条
                       </div>
                       <div class="pagination">
                           <ul>
                               <li>
                                   <i class="iqon-angle-left"></i>
                               </li>
                               <li><a>1</a></li>
                               <li>
                                   <span>&nbsp;&nbsp;...&nbsp;&nbsp;</span>
                               </li>
                               <li><a>6</a></li>
                               <li class="active">
                                   <a>7</a>
                               </li>
                               <li>
                                   <a>8</a>
                               </li>
                               <li>
                                   <span>&nbsp;&nbsp;...&nbsp;&nbsp;</span>
                               </li>
                               <li>
                                   <a>30</a>
                               </li>
                               <li>
                                   <i class="iqon-angle-right"></i>
                               </li>
                           </ul>
                       </div>
                       <div class="page-go">
                           转到<input class="ng-untouched ng-pristine ng-valid" type="text"> 页
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="m-home-pageL">
           <ul class="m-usertree">
               <li class="open m-hasicon">
                   <i class="iqon-report"></i>
                   <a href="javascript:;">我的申请</a>
                   <ul class="m-tree">
                       <li><a href="javascript:;">11111111111111111111111111111111111</a></li>
                       <li class="active"><a href="javascript:;">222</a></li>
                       <li><a href="javascript:;">333</a></li>
                   </ul>
               </li>
               <li class="m-hasicon">
                   <i class="iqon-record"></i>
                   <a href="javascript:;">待我审批</a>
                   <span class="m-num">5</span>
               </li>
               <li class="m-hasicon">
                   <i class="iqon-check"></i>
                   <a href="javascript:;">我已审批</a>
               </li>
           </ul>
       </div>
   </div>
</div>

























<!--<div style="height: 100%">-->
<!--<div class="m-home-pageR">-->
<!--<div class="m-boardtop clearfix">-->
<!--<div class="m-crumb">-->
<!--<ul>我的位置:-->
<!--<li><a href="#">DCG业务管理平台</a></li>-->
<!--<li><a href="#">冲红退换货</a></li>-->
<!--<li><a href="#">我的申请</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="m-dropdown g-fr">-->
<!--<button class="m-btn-main-2">+ 新建冲红申请</button>-->
<!--<ul class="m-dropdown-option">-->
<!--<li>-->
<!--<i class="iqon-direct-right"></i>-->
<!--新建冲红申请-->
<!--</li>-->
<!--<li>新建退换货申请</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--<div class="m-list-menu">-->
<!--<ul class="m-state">-->
<!--<li class="active">审批中</li>-->
<!--<li>全部</li>-->
<!--<li>已完成</li>-->
<!--</ul>-->
<!--<div class="m-search-all">-->
<!--<div class="m-select">-->
<!--<i class="iqon-xia"></i>-->
<!--<select>-->
<!--<option>-全部公司</option>-->
<!--<option>222</option>-->
<!--<option>333</option>-->
<!--<option>444</option>-->
<!--<option>555</option>-->
<!--</select>-->
<!--</div>-->
<!--<div class="m-search">-->
<!--<i class="iqon-query"></i>-->
<!--<input name="state" placeholder="发票号/申请人/ITCode" type="text">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div  class="m-table-margin">-->
<!--<ul class="m-table-header clearfix">-->
<!--<li class=" width1 m-text-center">申请单号<i class="iqon-orderdown"></i></li>-->
<!--<li class="width2">公司</li>-->
<!--<li>当前环节</li>-->
<!--<li class="width1">当前处理人</li>-->
<!--<li>申请日期<i class="iqon-order"></i></li>-->
<!--<li>操作</li>-->

<!--</ul>-->
<!--<ul class="m-table-body clearfix">-->
<!--<li>-->
<!--<ul class="clearfix">-->
<!--<li class="width1">20160764354</li>-->
<!--<li class="width2"> 0001-神州数码（中国）有限公司</li>-->
<!--<li>财务审核</li>-->
<!--<li class="width1">-->
<!--<div class="m-user-info">-->
<!--<img alt="纪永凤" class="m-user-img" src="assets/default-user.png">-->
<!--<span class="m-user-name">纪永凤</span>-->
<!--<span class="m-user-ename">jiyf</span>-->
<!--<i class="iqon-close-m"></i>-->
<!--<p class="m-user-msg">审批人提示信息XXXXXXXXXXXXXX</p>-->
<!--</div>-->
<!--</li>-->
<!--<li>2017-03-01</li>-->
<!--<li>-->
<!--<div class="m-add-information">补充资料</div>-->
<!--</li>-->
<!--</ul>-->
<!--</li>-->
<!--<li>-->
<!--<ul class="clearfix">-->
<!--<li class="width1">20160764354</li>-->
<!--<li class="width2"> 0001-神州数码（中国）有限公司</li>-->
<!--<li>财务审核</li>-->
<!--<li class="width1">-->
<!-- - -->
<!--</li>-->
<!--<li>2017-03-01</li>-->
<!--<li>-->
<!--<div class="m-add-information">补充资料</div>-->
<!--</li>-->
<!--</ul>-->
<!--</li>-->
<!--<li>-->
<!--<ul class="clearfix">-->
<!--<li class="width1">20160764354</li>-->
<!--<li class="width2"> 0001-神州数码（中国）有限公司</li>-->
<!--<li class="m-gry">已完成</li>-->
<!--<li class="width1">-->
<!--<div class="m-user-info">-->
<!--<img alt="纪永凤" class="m-user-img" src="assets/default-user.png">-->
<!--<span class="m-user-name">纪永凤</span>-->
<!--<span class="m-user-ename">jiyf</span>-->
<!--<i class="iqon-close-m"></i>-->
<!--<p class="m-user-msg">审批人提示信息XXXXXXXXXXXXXX</p>-->
<!--</div>-->
<!--</li>-->
<!--<li>2017-03-01</li>-->
<!--<li>-->
<!--<div class="m-add-information">补充资料</div>-->
<!--</li>-->
<!--</ul>-->
<!--</li>-->
<!--<li>-->
<!--<ul class="clearfix">-->
<!--<li class="width1">20160764354</li>-->
<!--<li class="width2"> 0001-神州数码（中国）有限公司</li>-->
<!--<li>开始</li>-->
<!--<li class="width1">-->
<!--<div class="m-user-info">-->
<!--<img alt="纪永凤" class="m-user-img" src="assets/default-user.png">-->
<!--<span class="m-user-name">纪永凤</span>-->
<!--<span class="m-user-ename">jiyf</span>-->
<!--<i class="iqon-close-m"></i>-->
<!--<p class="m-user-msg">审批人提示信息XXXXXXXXXXXXXX</p>-->
<!--</div>-->
<!--</li>-->
<!--<li>2017-03-01</li>-->
<!--<li>-->
<!--<div class="m-add-information m-add-infoactive">补充资料</div>-->
<!--</li>-->
<!--</ul>-->
<!--</li>-->
<!--<li>-->
<!--<ul class="clearfix">-->
<!--<li class="width1">20160764354</li>-->
<!--<li class="width2"> 0001-神州数码（中国）有限公司</li>-->
<!--<li class="m-orange">已撤回</li>-->
<!--<li class="width1">-->
<!--<div class="m-user-info">-->
<!--<img alt="纪永凤" class="m-user-img" src="assets/default-user.png">-->
<!--<span class="m-user-name">纪永凤</span>-->
<!--<span class="m-user-ename">jiyf</span>-->
<!--<i class="iqon-close-m"></i>-->
<!--<p class="m-user-msg">审批人提示信息XXXXXXXXXXXXXX</p>-->
<!--</div>-->
<!--</li>-->
<!--<li>2017-03-01</li>-->
<!--<li>-->
<!--<div class="m-add-information">补充资料</div>-->
<!--</li>-->
<!--</ul>-->
<!--</li>-->
<!--<li>-->
<!--<ul class="clearfix">-->
<!--<li class="width1">20160764354</li>-->
<!--<li class="width2"> 0001-神州数码（中国）有限公司</li>-->
<!--<li>财务审核</li>-->
<!--<li class="width1">-->
<!--<div class="m-user-info">-->
<!--<img alt="纪永凤" class="m-user-img" src="assets/default-user.png">-->
<!--<span class="m-user-name">纪永凤</span>-->
<!--<span class="m-user-ename">jiyf</span>-->
<!--<i class="iqon-close-m"></i>-->
<!--<p class="m-user-msg">审批人提示信息XXXXXXXXXXXXXX</p>-->
<!--</div>-->
<!--</li>-->
<!--<li>2017-03-01</li>-->
<!--<li>-->
<!--<div class="m-add-information">补充资料</div>-->
<!--</li>-->
<!--</ul>-->
<!--</li>-->
<!--<li>-->
<!--<ul class="clearfix">-->
<!--<li class="width1">20160764354</li>-->
<!--<li class="width2"> 0001-神州数码（中国）有限公司</li>-->
<!--<li>财务审核</li>-->
<!--<li class="width1">-->
<!--<div class="m-user-info">-->
<!--<img alt="纪永凤" class="m-user-img" src="assets/default-user.png">-->
<!--<span class="m-user-name">纪永凤</span>-->
<!--<span class="m-user-ename">jiyf</span>-->
<!--<i class="iqon-close-m"></i>-->
<!--<p class="m-user-msg">审批人提示信息XXXXXXXXXXXXXX</p>-->
<!--</div>-->
<!--</li>-->
<!--<li>2017-03-01</li>-->
<!--<li>-->
<!--<div class="m-add-information">补充资料</div>-->
<!--</li>-->
<!--</ul>-->
<!--</li>-->
<!--<li>-->
<!--<ul class="clearfix">-->
<!--<li class="width1">20160764354</li>-->
<!--<li class="width2"> 0001-神州数码（中国）有限公司</li>-->
<!--<li>财务审核</li>-->
<!--<li class="width1">-->
<!--<div class="m-user-info">-->
<!--<img alt="纪永凤" class="m-user-img" src="assets/default-user.png">-->
<!--<span class="m-user-name">纪永凤</span>-->
<!--<span class="m-user-ename">jiyf</span>-->
<!--<i class="iqon-close-m"></i>-->
<!--<p class="m-user-msg">审批人提示信息XXXXXXXXXXXXXX</p>-->
<!--</div>-->
<!--</li>-->
<!--<li>2017-03-01</li>-->
<!--<li>-->
<!--<div class="m-add-information m-add-infoactive">补充资料</div>-->
<!--</li>-->
<!--</ul>-->
<!--</li>-->
<!--<li>-->
<!--<ul class="clearfix">-->
<!--<li class="width1">20160764354</li>-->
<!--<li class="width2"> 0001-神州数码（中国）有限公司</li>-->
<!--<li>财务审核</li>-->
<!--<li class="width1">-->
<!--<div class="m-user-info">-->
<!--<img alt="纪永凤" class="m-user-img" src="assets/default-user.png">-->
<!--<span class="m-user-name">纪永凤</span>-->
<!--<span class="m-user-ename">jiyf</span>-->
<!--<i class="iqon-close-m"></i>-->
<!--<p class="m-user-msg">审批人提示信息XXXXXXXXXXXXXX</p>-->
<!--</div>-->
<!--</li>-->
<!--<li>2017-03-01</li>-->
<!--<li>-->
<!--<div class="m-add-information">补充资料</div>-->
<!--</li>-->
<!--</ul>-->
<!--</li>-->
<!--<li>-->
<!--<ul class="clearfix">-->
<!--<li class="width1">20160764354</li>-->
<!--<li class="width2"> 0001-神州数码（中国）有限公司</li>-->
<!--<li>财务审核</li>-->
<!--<li class="width1">-->
<!--<div class="m-user-info">-->
<!--<img alt="纪永凤" class="m-user-img" src="assets/default-user.png">-->
<!--<span class="m-user-name">纪永凤</span>-->
<!--<span class="m-user-ename">jiyf</span>-->
<!--<i class="iqon-close-m"></i>-->
<!--<p class="m-user-msg">审批人提示信息XXXXXXXXXXXXXX</p>-->
<!--</div>-->
<!--</li>-->
<!--<li>2017-03-01</li>-->
<!--<li>-->
<!--<div class="m-add-information">补充资料</div>-->
<!--</li>-->
<!--</ul>-->
<!--</li>-->
<!--</ul>-->
<!--<div class="page">-->
<!--<div class="page-wrap">-->
<!--<div class="page-size">-->
<!--显示：-->
<!--<a>10</a>-->
<!--<a>20</a>-->
<!--<a>50</a>-->
<!--条/页-->
<!--</div>-->
<!--<div class="page-all">-->
<!--共117条-->
<!--</div>-->
<!--<div class="pagination">-->
<!--<ul>-->
<!--<li>-->
<!--<i class="iqon-angle-left"></i>-->
<!--</li>-->
<!--<li><a>1</a></li>-->
<!--<li>-->
<!--<span>&nbsp;&nbsp;...&nbsp;&nbsp;</span>-->
<!--</li>-->
<!--<li><a>6</a></li>-->
<!--<li class="active">-->
<!--<a>7</a>-->
<!--</li>-->
<!--<li>-->
<!--<a>8</a>-->
<!--</li>-->
<!--<li>-->
<!--<span>&nbsp;&nbsp;...&nbsp;&nbsp;</span>-->
<!--</li>-->
<!--<li>-->
<!--<a>30</a>-->
<!--</li>-->
<!--<li>-->
<!--<i class="iqon-angle-right"></i>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="page-go">-->
<!--转到<input class="ng-untouched ng-pristine ng-valid" type="text"> 页-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--<div class="m-home-pageL">-->
<!--<ul class="m-usertree">-->
<!--<li class="open">-->
<!--<i class="iqon-report"></i>-->
<!--<a href="javascript:;">我的申请</a>-->
<!--</li>-->
<!--<li>-->
<!--<i class="iqon-record"></i>-->
<!--<a href="javascript:;">我的申请</a>-->
<!--<span class="m-num">5</span>-->
<!--</li>-->
<!--<li>-->
<!--<i class="iqon-check"></i>-->
<!--<a href="javascript:;">我的申请</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->