<div>
  <h2>采购订单修改页面</h2>
  <ul>
    <li>
      <a routerLink="/procurement/new-contractApply"> 新建合同单采购申请</a>
    </li>
    <li  >
      <a routerLink="/procurement/submit-contractApply"> 提交合同单采购申请</a>
    </li>
    <li  >
      <a routerLink="/procurement/approval-contractApply"> 审批合同单采购申请</a>
    </li>
    <li  >
      <a routerLink="/procurement/view-contractApply"> 查看合同单采购申请明细</a>
    </li>
    <li  >
      <a routerLink="/procurement/new-procurementOrder"> 新建采购订单</a>
    </li>
    <li  >
      <a routerLink="/procurement/new-NB"> NB新建</a>
    </li>
    <li  >
      <a routerLink="/procurement/approval-NB"> 审批NB</a>
    </li>
    <li  >
      <a routerLink="/procurement/view-NB"> 查看NB</a>
    </li>
    <li  >
      <a routerLink="/procurement/procurementTpl-edit">采购模板编辑</a>
    </li>
    <li  >
      <a routerLink="/procurement/procurementTpl-list">采购模板列表</a>
    </li>
  </ul>
</div>