<div class="m-card-apply">
    <h3>名片申请</h3>
    <div class="clearfix">
      <div class="m-apply-step m-apply-finish">
        <div class="m-apply-num">1</div>
        <i class="iqon-right"></i>
        <span>基本信息</span>
      </div>
      <div class="m-apply-step m-apply-process">
        <div class="m-apply-num">2</div>
        <i class="iqon-right"></i>
        <span>详细信息</span>
      </div>
      <div class="m-apply-step">
        <div class="m-apply-num">3</div>
        <i class="iqon-right"></i>
        <span>印制/审批信息</span>
      </div>
      <div class="m-apply-step">
        <div class="m-apply-num">4</div>
        <i class="iqon-right"></i>
        <span>信息确认</span>
      </div>
      <div class="m-apply-step">
        <div class="m-apply-num">5</div>
        <i class="iqon-right"></i>
        <span>提交</span>
      </div>
    </div>
    <div class="m-card-form">
      <div class="m-form-item m-approval">
        <p class="m-approval-msg">申请人<span class="m-approval-need">*</span></p>
        <div class="m-user-members">
          
          <div class="m-user-info">
            <img alt="纪永凤" class="m-user-img" src="assets/default-user.png">
            <span class="m-user-name">纪永凤</span>
            <span class="m-user-ename">jiyf</span>
            <i class="iqon-close-m"></i>
            <p class="m-user-msg">审批人提示信息XXXXXXXXXXXXXX</p>
          </div>
          
          <div class="m-user-change">
            <i class="iqon-eachother"></i>替换
          </div>
        </div>
      </div>
      <div class="m-form-item">
        <p class="m-approval-msg">中文名<span class="m-approval-need">*</span></p>
        <input type="text" name="">
      </div>
      <div class="m-form-item">
        <p class="m-approval-msg">英文名<span class="m-approval-need">*</span></p>
        <input type="text" name="">
      </div>
      <div class="m-form-item">
        <p class="m-approval-msg">成本中心编号<span class="m-approval-need">*</span></p>
        <input type="text" name="">
      </div>
      <div class="m-form-item">
        <p class="m-approval-msg">公司名称</p>
        <div class="m-select">
          <i class="iqon-xia"></i>
          <select>
            <option>111</option>
            <option>222</option>
            <option>333</option>
            <option>444</option>
            <option>555</option>
          </select>
        </div>
      </div>
      <div class="m-form-item">
        <p class="m-approval-msg" style="margin-bottom: 10px;">是否显示股票代码信息<span class="m-approval-need">*</span></p>
        <input icheck checked name="stock" type="radio" value="1" class="ng-untouched ng-pristine ng-valid" style="position: absolute; opacity: 0;"><label>是</label>
        <input icheck name="stock" type="radio" value="2" class="ng-untouched ng-pristine ng-valid" style="position: absolute; opacity: 0;"><label>否</label>
      </div>
      <div class="m-company-msg">
        <div class="m-company-address">
          <p class="m-approval-msg">公司地址</p>
          <p>北京市海淀区上地九街9号数码科技广场<span class="m-company-enaddress"> / Digital Technology Plaza, No.9 Shangdi 9th Street, Haidian District, Beijing</span></p>
        </div>
        <div class="m-company-postcode">
          <p class="m-approval-msg">邮编</p>
          <span>100085</span>
        </div>
        <div class="m-company-web">
          <p class="m-approval-msg">网址<span class="m-approval-need">*</span></p>
          <input type="text" name="">
        </div>
      </div>
      <div class="m-form-item">
        <p class="m-approval-msg">电话<span class="m-approval-need">*</span></p>
        <input type="text" name="">
      </div>
      <div class="m-form-item">
        <p class="m-approval-msg">手机<span class="m-approval-need">*</span></p>
        <input type="text" name="">
      </div>
      <div class="m-form-item">
        <p class="m-approval-msg">E-mail<span class="m-approval-need">*</span></p>
        <input type="text" name="">
      </div>
      <div class="m-form-item">
        <p class="m-approval-msg">传真</p>
        <input type="text" name="">
      </div>
      <div class="m-form-item">
        <p class="m-approval-msg">部门1<span class="m-approval-need">*</span></p>
        <input type="text" name="">
      </div>
      <div class="m-form-item">
        <p class="m-approval-msg">职务1<span class="m-approval-need">*</span></p>
        <input type="text" name="">
      </div>
      <div class="m-form-item">
        <p class="m-approval-msg">英文部门1</p>
        <input type="text" name="">
      </div>
      <div class="m-form-item">
        <p class="m-approval-msg">英文职位1</p>
        <input type="text" name="">
      </div>
      <div class="m-form-item">
        <p class="m-approval-msg">部门2</p>
        <input type="text" name="">
      </div>
      <div class="m-form-item">
        <p class="m-approval-msg">职务2</p>
        <input type="text" name="">
      </div>
      <div class="m-form-item">
        <p class="m-approval-msg">英文部门2</p>
        <input type="text" name="">
      </div>
      <div class="m-form-item">
        <p class="m-approval-msg">英文职位2</p>
        <input type="text" name="">
      </div>
    </div>
    <div class="m-card-btn">
      <button class="m-btn-prev">上一步</button>
      <button class="m-btn-next m-btn-disable">下一步</button>
      <button class="m-btn-cancel2">取消</button>
    </div>
  </div>