<div class="g-hdp sales-main">
    <div class="g-list index-list">
        <div class="">
            <div class="m-user-info">
             <div class="m-user-noimg">暂无</div>
             <div class="m-user-names">
                 <div class="">
                     <span class="m-user-name">纪永凤</span>
                     <span class="m-user-ename">jiyf</span>
                 </div>
                 <div class="">
                     <span class="m-user-sales">替换</span>
                     <span class="m-user-change">变更角色</span>
                 </div>
             </div>
            </div>
            <ul class="m-usertree m-usertree-approve">
               <li>
                   我的审批
                   <span class="m-num">5</span>
               </li>
               <li>
                   我的跟踪
                   <span class="m-num m-num-green">12</span>
               </li>
            </ul>
            <ul class="m-usertree m-usertree-apply">
                <li class="open my-collection">
                  <a href="javascript:;">我的收藏</a>
                  <i class="icon-text-right iqon-add-circle"></i>
                  <ul class="m-tree">
                    <li><a href="javascript:;"><i class="icon-text-left iqon-concat-o"></i>新建销售合同<i class="icon-text-right iqon-add-circle"></i></a></li>
                    <li><a href="javascript:;"><i class="icon-text-left iqon-concat-o"></i>新建销售订单</a></li>
                    <li><a href="javascript:;"><i class="icon-text-left iqon-concat-o"></i>新建投标申请</a></li>
                  </ul>
                </li>
                <li class="open">
                  <a href="javascript:;">我的应用</a>
                  <ul class="m-tree">
                    <li class="active"><a href="javascript:;"><i class="icon-text-left iqon-address-book-o"></i>客户信息</a></li>
                    <li><a href="javascript:;"><i class="icon-text-left iqon-seal-o"></i>用印管理</a></li>
                    <li><a href="javascript:;"><i class="icon-text-left iqon-concat-o"></i>销售订单管理</a></li>
                    <li><a href="javascript:;"><i class="icon-text-left iqon-concat-o"></i>票据管理</a></li>
                    <li><a href="javascript:;"><i class="icon-text-left iqon-concat-o"></i>暂存管理</a></li>
                    <li><a href="javascript:;"><i class="icon-text-left iqon-concat-o"></i>冲红退换货管理</a></li>
                    <li><a href="javascript:;"><i class="icon-text-left iqon-concat-o"></i>欠款管理</a></li>
                  </ul>
                </li>
              </ul>
        </div>
    </div>
    <div class="g-right">
        <router-outlet></router-outlet>
    </div>
</div>
