<div class="">
    <br><br><br><br><br><br><br><br>
    <button type="button" class="btn btn-primary" (click)="alert({message:'this is a alert',type:'success'})">alert modal</button>
    <button type="button" class="btn btn-primary" (click)="alert({message:'this is a alert',type:'fail'})">alert fail modal</button>
    <button type="button" class="btn btn-primary" (click)="alert({message:'this is a alert',type:'warn'})">alert warn modal</button>
    <button type="button" class="btn btn-primary" (click)="confirm({message:'合同号:DBXS03201708243101,DBXS03201708259046,SDXS03201708252066,SDXS03201708253155未填写采购金额,是否继续？'})">confirm modal</button>
</div>
