<div class="g-hdp">
  <div class="main">
    <div class="m-home-page">
      <div class="g-right">
         <div class="m-home-pageR clearfix">
             <router-outlet></router-outlet>
         </div>
      </div>
     </div>
     <div class="g-list m-home-page">
       <div class="m-home-pageL">
           <div class="m-user-nav">
              <div class="m-usertab">
                  <div class="m-usernav">
                    <span class="active">菜单</span>
                  </div>
                  <div class="m-usernav">
                    <span>设置</span>
                  </div>
              </div>
              <ul class="m-usertree">
                <li class="open">
                  <a href="javascript:;">合同用印</a>
                  <i class="iqon-angle-right"></i>
                  <ul class="m-tree">
                    <li class="active"><a href="javascript:;">销售合同用印</a></li>
                    <li><a href="javascript:;">采购合同用印</a></li>
                    <li><a href="javascript:;">担保合同用印</a></li>
                  </ul>
                </li>
                <li>
                  <a href="javascript:;">投标类用印</a>
                  <i class="iqon-angle-right"></i>
                  <ul class="m-tree">
                    <li><a href="javascript:;">111</a></li>
                    <li><a href="javascript:;">222</a></li>
                    <li><a href="javascript:;">333</a></li>
                  </ul>
                </li>
                <li>
                  <a href="javascript:;">非投标类用印</a>
                  <i class="iqon-angle-right"></i>
                </li>
                <li>
                  <a href="javascript:;">催款函/律师函用印</a>
                  <i class="iqon-angle-right"></i>
                </li>
              </ul>
            </div>
       </div>
     </div>
  </div>
</div>