<div class="m-boardtop clearfix">
  <div class="m-crumbs">
      <ul>
        <li><a href="#">名片申请</a></li>
        <li><a href="#">所有申请</a></li>
        <li><a href="#">高级搜索</a></li>
      </ul>
    </div>
</div>
<div class="m-scan">

  <div class="m-scan-head">
    <div class="m-scan-item">
      <h6>平台名称</h6>
      <div class="m-select">
        <i class="iqon-xia"></i>
        <select>
          <option>111</option>
          <option>222</option>
          <option>333</option>
          <option>444</option>
          <option>555</option>
        </select>
      </div>
    </div>
    <div class="m-scan-item">
      <h6>部门</h6>
      <input type="text" placeholder="-请填写部门名称">
    </div>
    <div class="m-scan-item">
      <h6>成本中心编号</h6>
      <input class="small" type="text" placeholder="-请填写成本中心编号">
    </div>
    <div class="m-scan-item">
      <h6>申请人／ITcode</h6>
      <input class="small" type="text" placeholder="-请填写申请人／ITcode">
    </div>
    <div class="m-scan-item">
      <h6>当前状态</h6>
      <div class="m-select">
        <i class="iqon-xia"></i>
        <select>
          <option>111</option>
          <option>222</option>
          <option>333</option>
          <option>444</option>
          <option>555</option>
        </select>
      </div>
    </div>
    <div class="m-scan-item m-scan-item2">
      <h6>时间范围</h6>
      <input class="sm" type="text" placeholder="2017-03-21">&nbsp;~&nbsp;<input class="sm" type="text" placeholder="2017-03-28">
    </div>
    <div class="m-scan-item m-scan-item2">
      <button  class="m-btn-prev">搜索</button>
      <button  class="m-btn-cancel">重置</button>
      <button  class="m-btn-cancel">导出EXCEL</button>
    </div>

  </div>
  <div class="m-scan-body">

    <div class="m-scan-result">

      <table class="table table-hover m-scan-table">

        <thead>

        <tr>

          <th>序号</th>

          <th>申请日期</th>

          <th>申请人</th>

          <th>部门</th>

          <th>成本中心编号</th>

          <th>加急</th>

          <th>数量</th>

          <th>金额（元）</th>

          <th>审批人</th>

          <th>表单号</th>


        </tr>

        </thead>

        <tbody>

        <tr>


          <td>1</td>

          <td>2017-07-01</td>
          <td>Samantha</td>

          <td class="text-navy">云服务事业部.IT服务中心.交付中心.北京  </td>

          <td>67432784</td>

          <td>√</td>

          <td>5</td>

          <td>38.00</td>

          <td>-</td>

          <td>4789324738291478912</td>

        </tr>
        <tr>


          <td>1</td>

          <td>2017-07-01</td>
          <td>Samantha</td>

          <td class="text-navy">云服务事业部.IT服务中心.交付中心.北京  </td>

          <td>67432784</td>

          <td>√</td>

          <td>5</td>

          <td>38.00</td>

          <td>-</td>

          <td>4789324738291478912</td>

        </tr>
        <tr>


          <td>1</td>

          <td>2017-07-01</td>
          <td>Samantha</td>

          <td class="text-navy">云服务事业部.IT服务中心.交付中心.北京  </td>

          <td>67432784</td>

          <td>x</td>

          <td>5</td>

          <td>38.00</td>

          <td>-</td>

          <td>4789324738291478912</td>

        </tr>
        <tr>


          <td>1</td>

          <td>2017-07-01</td>
          <td>Samantha</td>

          <td class="text-navy">云服务事业部.IT服务中心.交付中心.北京  </td>

          <td>67432784</td>

          <td>√</td>

          <td>5</td>

          <td>38.00</td>

          <td>-</td>

          <td>4789324738291478912</td>

        </tr>


        </tbody>

      </table>

      <div class="page">
          <div class="page-wrap">
            <div class="page-size">

              显示:

              <a>10</a>

              <a>20</a>

              <a>50</a>

              条/页
            </div>
            <div class="page-all">

                共117条
            </div>
            <div class="pagination">

                <ul>

                    <li><a>上</a></li>

                    <li><a>1</a></li>

                    <li>

                      <span>&nbsp;&nbsp;...&nbsp;&nbsp;</span>

                    </li>

                    <li><a>6</a></li>

                    <li class="active">

                        <a>7</a>

                    </li>

                    <li>

                      <a>8</a>

                    </li>

                    <li>

                      <span>&nbsp;&nbsp;...&nbsp;&nbsp;</span>

                    </li>

                    <li>

                    <a>30</a>

                    </li>

                    <li><a>下</a></li>

                </ul>
            </div>
            <div class="page-go">

                到第 <input class="ng-untouched ng-pristine ng-valid" type="text"> 页
            </div>
          </div>
        </div>

    </div>

  </div>

</div>