<div class="m-boardtop">
  <div class="m-crumbs">
      <ul>
        <li><a href="#">标题1</a></li>
        <li><a href="#">标题2</a></li>
        <li><a href="#">标题3</a></li>
        <li><a href="#">标题4</a></li>
        <li><a href="#">标题5</a></li>
        <li><a href="#">标题6</a></li>
      </ul>
  </div>
  <button class="m-btn-main-2 g-fr" style="margin-top: 7px;">+新增应用平台</button>
</div>
<div style="padding: 10px 16px;">
  <div class="m-list-menu">
    <ul class="m-state">
      <li>全部</li>
      <li>审批中</li>
      <li>已完成</li>
      <li class="active">草稿</li>
    </ul>
    <div class="m-search-all">
      <div class="m-search">
        <i class="iqon-query"></i>
        <input type="text" name="state" placeholder="申请人/当前状态">
      </div>
      <div class="m-search-high">
        <i class="iqon-list"></i>
        高级搜索
      </div>
    </div>
  </div>
  <div style="margin-top: 10px;padding-bottom:50px;background-color: #fff;">
    <table class="table table-hover table-list">
        <thead>
          <tr>
              <th>
                  <input icheck="" type="checkbox" style="position: absolute; opacity: 0;">
              </th>

              <th>序号</th>

              <th>申请日期</th>

              <th>申请人</th>

              <th>部门</th>

              <th>加急</th>

              <th>数量</th>

              <th>金额（元）</th>

              <th>当前状态</th>

              <th>当前审批人</th>

              <th>操作</th>
          </tr>
        </thead>

        <tbody>
          <tr>
              <td>
                  <input icheck="" type="checkbox" style="position: absolute; opacity: 0;">
              </td>
              <td>1</td>
              <td><span class="pie" style="display: none;">0.52,1.041</span><svg class="peity" height="16" width="16"><path d="M 8 8 L 8 0 A 8 8 0 0 1 14.933563796318165 11.990700825968545 Z" fill="#1ab394"></path><path d="M 8 8 L 14.933563796318165 11.990700825968545 A 8 8 0 1 1 7.999999999999998 0 Z" fill="#d7d7d7"></path></svg></td>
              <td>Samantha</td>
              <td class="text-navy"> <i class="fa fa-level-up"></i> 40% </td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td class="operate"><span>删除</span>&nbsp;<span>禁用</span></td>
          </tr>
          <tr>
              <td>
                  <input icheck="" type="checkbox" style="position: absolute; opacity: 0;">
              </td>
              <td>2</td>
              <td><span class="pie" style="display: none;">226,134</span><svg class="peity" height="16" width="16"><path d="M 8 8 L 8 0 A 8 8 0 1 1 2.2452815972907922 13.55726696367198 Z" fill="#1ab394"></path><path d="M 8 8 L 2.2452815972907922 13.55726696367198 A 8 8 0 0 1 7.999999999999998 0 Z" fill="#d7d7d7"></path></svg></td>
              <td>Jacob</td>
              <td class="text-warning"> <i class="fa fa-level-down"></i> -20% </td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td class="operate"><span>删除</span>&nbsp;<span>禁用</span></td>
          </tr>

          <tr>
              <td>
                  <input icheck="" type="checkbox" style="position: absolute; opacity: 0;">
              </td>
              <td>3</td>
              <td><span class="pie" style="display: none;">0.52/1.561</span><svg class="peity" height="16" width="16"><path d="M 8 8 L 8 0 A 8 8 0 0 1 14.933563796318165 11.990700825968545 Z" fill="#1ab394"></path><path d="M 8 8 L 14.933563796318165 11.990700825968545 A 8 8 0 1 1 7.999999999999998 0 Z" fill="#d7d7d7"></path></svg></td>
              <td>Damien</td>
              <td class="text-navy"> <i class="fa fa-level-up"></i> 26% </td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td class="operate"><span>删除</span>&nbsp;<span>禁用</span></td>
          </tr>
        </tbody>
    </table>

    <div class="page">
      <div class="page-wrap">
        <div class="page-size">
          显示:
          <a>10</a>
          <a>20</a>
          <a>50</a>
          条/页
        </div>
        <div class="page-all">
            共117条
        </div>
        <div class="pagination">
            <ul>
                <li><a>上</a></li>
                <li><a>1</a></li>
                <li>
                  <span>&nbsp;&nbsp;...&nbsp;&nbsp;</span>
                </li>
                <li><a>6</a></li>
                <li class="active">
                    <a>7</a>
                </li>
                <li>
                  <a>8</a>
                </li>
                <li>
                  <span>&nbsp;&nbsp;...&nbsp;&nbsp;</span>
                </li>
                <li>
                <a>30</a>
                </li>
                <li><a>下</a></li>
            </ul>
        </div>
        <div class="page-go">
            到第 <input class="ng-untouched ng-pristine ng-valid" type="text"> 页
        </div>
      </div>
    </div>
  </div>
</div>