// component css goes here
.m-home-menu{
	  display: flex;
	  height: 49px;
	  width: 210px;
	  margin: auto;
	  justify-content: space-around;
	  line-height: 49px;
	  border-bottom: 1px solid #e1e3eb;
	  div{
	 	  width: 38px;
		  text-align: center;
		    color: #9196a0;
	  }
	  .m-active{
		  border-bottom: 3px solid #63b9f0;
		  font-weight: 600;
		  color: #4a4a4a;
	  }
}
.m-crumb{
	font-size: 14px;
	ul li{
		position: relative;
		a{
		  width: 80px;
		  text-align: center;
		  height: 49px;
		  color: #4a4a4a;
  	      font-weight: 600;
		}
		.m-nums{
		  top: 17px;
		  font-size: 12px;
		  right: -17px;
		}
	} 
	.m-li-active{
	  border-bottom: 4px solid #57aef8;
	  color: #57aef8;
	}
}
.m-crumb > ul > li::after {
  display: none;
  }
  .m-search-all{
  	.m-seach-radio{
  		display: inline-block;
  		label{
  			    margin: 0 21px 0 8px;
  		}
  	}
  }
  .m-table-right{
  margin: 0 15px;
    background-color: #fff;
    padding: 1px 15px !important;
	  .iqon-query{
	    background: #57b9f8;
	  }
	  .m-p-notice{
	  	  font-size: 16px;
	  }
  }
  .m-table-right::before{
	display: none !important;
  }
   .m-table-right::after{
	display: none !important;
  }
  .m-list-singlebox{
	border-radius: 2px;
    background-color: #ffffff;
	border: solid 1px #eeeeee;
	margin: 15px 0;
	.top{
	  display: flex;
	  height: 40px;
	  line-height: 40px;
	  justify-content: flex-end;
	  padding: 0 20px;
	  background-color: #f5f7fa;
	}
	.topleft{
	  flex: 1;
	}
	.bottom{
	  display: flex;
	  justify-content: space-between;
	  padding:20px;
	    font-size: 12px;
	    color:#4a4a4a;
	    .bottomname{
	    	font-size:14px;
	    }
	}
	.m-page{
		  width: 187px;
		  .pagebox{
		  	display: flex;
		  	div{
		  		  width: 50px;
				  margin-right: 8px;
				  display: flex;
				  justify-content: space-between;
		  	}
		  	.pagebox-span{
		  	flex:1;
		  	}
		  }
	}
  }
.marginr30{
	  margin-right:30px;
}
.marginr8{
	  margin-right:8px;
}
.margin8{
	margin: 0 8px;
}
.m-bottom-gray{
color:#a8b1bd
}
.m-bottom-black{
color:#4a4a4a;
}
.m-list-menu{
	    margin: 15px;
}
.m-btn-main-2{
	padding:0 30px;
}
.color-yelow{
	color:#ef9051;
}
.color-green{
	color:#ef9051;
}
.fontsize14{
	font-size:14px;
}
.m-noresult{
	height:470px;
}