<div style="padding-top: 62px">
    <div class="apply-progress">
        <div class="apply-p-left">
            <h1 class="apply-tit-h1">赵金凤的冲红申请</h1>
            <div class="apply-p-base">
                <div class="m-dialog-head">
                    <span class="m-dialog-head-change progress-txt">基础信息</span>
                    <i class="iqon-fold"></i>
                </div>
                <div class="apply-p-infor">
                    <div class="m-exm-item">
                        <ul>
                            <li class="m-exm-half">
                                <div class="m-exm-label">申请人</div>
                                <div class="m-exm-cont">
                                    <div class="m-user-info-small">
                                        <img alt="纪永凤" class="m-user-img" src="assets/default-user.png">
                                        <span class="m-user-name">纪永凤</span>
                                        <span class="m-user-ename">jiyf</span>
                                    </div>
                                </div>
                            </li>
                            <li class="m-exm-half">
                                <div class="m-exm-label">申请日期</div>
                                <div class="m-exm-cont">2017-02-04</div>
                            </li>
                            <li class="m-exm-half">
                                <div class="m-exm-label">电话</div>
                                <div class="m-exm-cont">010-87890099</div>
                            </li>
                            <li class="m-exm-half">
                                <div class="m-exm-label">成本中心</div>
                                <div class="m-exm-cont">7483247</div>
                            </li>
                            <li class="m-exm-half">
                                <div class="m-exm-label">公司</div>
                                <div class="m-exm-cont">北京神州数码有限公司</div>
                            </li>
                            <li class="m-exm-half">
                                <div class="m-exm-label">业务范围</div>
                                <div class="m-exm-cont">CB华硕笔记本</div>
                            </li>
                            <li class="m-exm-half">
                                <div class="m-exm-label">发票</div>
                                <div class="m-exm-cont">增值税专用发票</div>
                            </li>
                            <li class="m-exm-half">
                                <div class="m-exm-label">所属平台</div>
                                <div class="m-exm-cont">北京</div>
                            </li>
                            <li class="m-exm-half">
                                <div class="m-exm-label">冲退类型</div>
                                <div class="m-exm-cont">发票票面信息更改</div>
                            </li>
                            <li class="m-exm-half">
                                <div class="m-exm-label">取货方式</div>
                                <div class="m-exm-cont">上门取货</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--财务信息 -->
            <div class="apply-finance-infor">
                <div class="m-dialog-head">
                    <span class="m-dialog-head-change progress-txt">基础信息</span>
                    <i class="iqon-fold"></i>
                </div>
                <div class="apply-finance-l">
                    <table class="m-info-table">
                        <thead>
                        <tr class="m-infor-tr">
                            <th class="add-w-b60">共128条</th>
                            <th colspan="9">冲红前</th>
                        </tr>
                        <tr>
                            <th>序号</th>
                            <th class="m-infor-td">客户编号(冲名称时填写)</th>
                            <th>客户名称</th>
                            <th>原订单号</th>
                            <th>系统发票号</th>
                            <th>外部发票号</th>
                            <th>原发票日期</th>
                            <th class="m-text-right">金额/元</th>
                            <th>原始收复基准日</th>
                            <th>原清账号</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="add-w-b60">1</td>
                            <td>12343546</td>
                            <td>云服务事业部-It交付中心-云服务-北京</td>
                            <td>1,222</td>
                            <td>1231231</td>
                            <td>1231231</td>
                            <td>1231231</td>
                            <td class="m-text-right">1,222</td>
                            <td>1231231</td>
                            <td>1231231</td>
                        </tr>
                        <tr>
                            <td class="add-w-b60">2</td>
                            <td>12343546</td>
                            <td>云服务事业部-It交付中心-云服务-北京</td>
                            <td>1,222</td>
                            <td>1231231</td>
                            <td>1231231</td>
                            <td>1231231</td>
                            <td class="m-text-right">1,222</td>
                            <td>1231231</td>
                            <td>1231231</td>
                        </tr>
                        <tr>
                            <td class="add-w-b60">3</td>
                            <td>12343546</td>
                            <td>云服务事业部-It交付中心-云服务-北京</td>
                            <td>1,222</td>
                            <td>1231231</td>
                            <td>1231231</td>
                            <td>1231231</td>
                            <td class="m-text-right">1,222</td>
                            <td>1231231</td>
                            <td>1231231</td>
                        </tr>
                        <tr>
                            <td class="add-w-b60">4</td>
                            <td>12343546</td>
                            <td>云服务事业部-It交付中心-云服务-北京</td>
                            <td>1,222</td>
                            <td>1231231</td>
                            <td>1231231</td>
                            <td>1231231</td>
                            <td class="m-text-right">1,222</td>
                            <td>1231231</td>
                            <td>1231231</td>
                        </tr>
                        <tr>
                            <td class="add-w-b60">5</td>
                            <td>12343546</td>
                            <td>云服务事业部-It交付中心-云服务-北京</td>
                            <td>1,222</td>
                            <td>1231231</td>
                            <td>1231231</td>
                            <td>1231231</td>
                            <td class="m-text-right">1,222</td>
                            <td>1231231</td>
                            <td>1231231</td>
                        </tr>
                        <tr>
                            <td class="add-w-b60">6</td>
                            <td>12343546</td>
                            <td>云服务事业部-It交付中心-云服务-北京</td>
                            <td>1,222</td>
                            <td>1231231</td>
                            <td>1231231</td>
                            <td>1231231</td>
                            <td class="m-text-right">1,222</td>
                            <td>1231231</td>
                            <td>1231231</td>
                        </tr>
                        <tr>
                            <td class="add-w-b60">7</td>
                            <td>12343546</td>
                            <td>云服务事业部-It交付中心-云服务-北京</td>
                            <td>1,222</td>
                            <td>1231231</td>
                            <td>1231231</td>
                            <td>1231231</td>
                            <td class="m-text-right">1,222</td>
                            <td>1231231</td>
                            <td>1231231</td>
                        </tr>
                        <tr>
                            <td class="add-w-b60">8</td>
                            <td>12343546</td>
                            <td>云服务事业部-It交付中心-云服务-北京</td>
                            <td>1,222</td>
                            <td>1231231</td>
                            <td>1231231</td>
                            <td>1231231</td>
                            <td class="m-text-right">1,222</td>
                            <td>1231231</td>
                            <td>1231231</td>
                        </tr>
                        <tr>
                            <td class="add-w-b60">9</td>
                            <td>12343546</td>
                            <td>云服务事业部-It交付中心-云服务-北京</td>
                            <td>1,222</td>
                            <td>1231231</td>
                            <td>1231231</td>
                            <td>1231231</td>
                            <td class="m-text-right">1,222</td>
                            <td>1231231</td>
                            <td>1231231</td>
                        </tr>
                        <tr>
                            <td class="add-w-b60">10</td>
                            <td>12343546</td>
                            <td>云服务事业部-It交付中心-云服务-北京</td>
                            <td>1,222</td>
                            <td>1231231</td>
                            <td>1231231</td>
                            <td>1231231</td>
                            <td class="m-text-right">1,222</td>
                            <td>1231231</td>
                            <td>1231231</td>
                        </tr>
                        <tr>
                            <td class="add-w-b60">11</td>
                            <td>12343546</td>
                            <td>云服务事业部-It交付中心-云服务-北京</td>
                            <td>1,222</td>
                            <td>1231231</td>
                            <td>1231231</td>
                            <td>1231231</td>
                            <td class="m-text-right">1,222</td>
                            <td>1231231</td>
                            <td>1231231</td>
                        </tr>
                        <tr>
                            <td class="add-w-b60">12</td>
                            <td>12343546</td>
                            <td>云服务事业部-It交付中心-云服务-北京</td>
                            <td>1,222</td>
                            <td>1231231</td>
                            <td>1231231</td>
                            <td>1231231</td>
                            <td class="m-text-right">1,222</td>
                            <td>1231231</td>
                            <td>1231231</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="m-info-table" style="margin-top:20px;">
                        <thead>
                        <tr class="m-infor-tr">
                            <th class="add-w-b60">共128条</th>
                            <th colspan="3">冲红后</th>
                            <th colspan="2">特殊说明</th>
                            <th>财务</th>
                        </tr>
                        <tr>
                            <th>序号</th>
                            <th class="m-infor-td">客户编号(冲名称时填写)</th>
                            <th>客户名称</th>
                            <th class="m-text-right">金额/元</th>
                            <th>是否继续部分报销</th>
                            <th>付款账期</th>
                            <th>清账号</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="add-w-b60">1</td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="m-text-right  apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>1231231</td>
                        </tr>
                        <tr>
                            <td class="add-w-b60">2</td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="m-text-right apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>1231231</td>
                        </tr>
                        <tr>
                            <td class="add-w-b60">3</td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="m-text-right apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>1231231</td>
                        </tr>
                        <tr>
                            <td class="add-w-b60">4</td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="m-text-right apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>1231231</td>
                        </tr>
                        <tr>
                            <td class="add-w-b60">5</td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="m-text-right apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>1231231</td>
                        </tr>
                        <tr>
                            <td class="add-w-b60">6</td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="m-text-right apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>1231231</td>
                        </tr>
                        <tr>
                            <td class="add-w-b60">7</td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="m-text-right apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>1231231</td>
                        </tr>
                        <tr>
                            <td class="add-w-b60">8</td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="m-text-right apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>1231231</td>
                        </tr>
                        <tr>
                            <td class="add-w-b60">9</td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="m-text-right apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>1231231</td>
                        </tr>
                        <tr>
                            <td class="add-w-b60">10</td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="m-text-right apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>1231231</td>
                        </tr>
                        <tr>
                            <td class="add-w-b60">11</td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="m-text-right apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>1231231</td>
                        </tr>
                        <tr>
                            <td class="add-w-b60">12</td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="m-text-right apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>
                                <input type="text" class="apply-new-input" />
                            </td>
                            <td>1231231</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="apply-finance-inforL">
                <div class="m-dialog-head">
                    <span class="m-dialog-head-change progress-txt">财务信息</span>
                    <i class="iqon-fold iqon-fold-rotat"></i>
                </div>
                <div class="apply-fin-table" style="display: none">
                    <table class="m-info-table">
                        <thead>
                        <tr>
                            <th>ZCR订单</th>
                            <th>ZDR订单</th>
                            <th>RE订单</th>
                            <th>RE交货单</th>
                            <th>ZTY订单</th>
                            <th>ZTY交货单</th>
                            <th>ZRE订单</th>
                            <th>ZRE交货单</th>
                            <th>ZSD订单</th>
                            <th>ZSD交货单</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>220012568</td>
                            <td>220012568</td>
                            <td>220012568</td>
                            <td>220012568</td>
                            <td>220012568</td>
                            <td>220012568</td>
                            <td>220012568</td>
                            <td>220012568</td>
                            <td>220012568</td>
                            <td>220012568</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--附件 -->
            <div class="addApply-base money">
                <div class="addApp-up-file">
                    <h2>附件</h2>
                    <div class="addApp-file-details">
                        <ul>
                            <li><a href="javascript:;" class="addApp-upload-file"><i class="iqon-enclosure"></i>红字通知单.jpg<input type="file" /></a></li>
                            <li>
                                <i class="iqon-enclosure"></i>
                                34324234发票.jpg
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--审批记录 -->
            <div class="apply-record">
                <div class="m-dialog-head">
                    <span class="m-dialog-head-change progress-txt">审批记录</span>
                    <i class="iqon-fold"></i>
                </div>
                <div class="m-exm-item">
                    <ul class="m-exm-history">
                        <li>
                            <div class="m-exm-label normal-weight-text">提交表单</div>
                            <div class="m-exm-cont">
                                <div class="m-user-info-small">
                                    <img alt="纪永凤" class="m-user-img" src="assets/default-user.png">
                                    <span class="m-user-name">纪永凤</span>
                                    <span class="m-user-ename">jiyf</span>
                                </div>
                            </div>
                            <span class="m-exm-time">2016-12-20 11:18</span>
                            <span class="m-exm-remark">提交</span>
                        </li>
                        <li>
                            <div class="m-exm-label normal-weight-text">部门审批</div>
                            <div class="m-exm-cont">
                                <div class="m-user-info-small">
                                    <img alt="纪永凤" class="m-user-img" src="assets/default-user.png">
                                    <span class="m-user-name">纪永凤</span>
                                    <span class="m-user-ename">jiyf</span>
                                </div>
                            </div>
                            <span class="m-exm-time">2016-12-20 11:18</span>
                            <span class="m-exm-remark">审批通过，意见为【同意】</span>
                        </li>
                        <li>
                            <div class="m-exm-label normal-weight-text">二级审批</div>
                            <div class="m-exm-cont">
                                <div class="m-user-info-small">
                                    <img alt="纪永凤" class="m-user-img" src="assets/default-user.png">
                                    <span class="m-user-name">纪永凤</span>
                                    <span class="m-user-ename">jiyf</span>
                                </div>
                                <div class="m-user-info-small">
                                    <img alt="纪永凤" class="m-user-img" src="assets/default-user.png">
                                    <span class="m-user-name">纪永凤</span>
                                    <span class="m-user-ename">jiyf</span>
                                </div>
                                <div class="m-user-info-small">
                                    <img alt="纪永凤" class="m-user-img" src="assets/default-user.png">
                                    <span class="m-user-name">纪永凤</span>
                                    <span class="m-user-ename">jiyf</span>
                                </div>
                                <div class="m-user-info-small">
                                    <img alt="纪永凤" class="m-user-img" src="assets/default-user.png">
                                    <span class="m-user-name">纪永凤</span>
                                    <span class="m-user-ename">jiyf</span>
                                </div>
                            </div>
                            <span class="m-exm-time">2016-12-20 11:18</span>
                            <span class="m-exm-remark">审批通过，意见为【同意】</span>
                        </li>
                        <li>
                            <div class="m-exm-label normal-weight-text">供应商</div>
                            <div class="m-exm-cont">
                                <div class="m-user-info-small">
                                    <img alt="纪永凤" class="m-user-img" src="assets/default-user.png">
                                    <span class="m-user-name">纪永凤</span>
                                    <span class="m-user-ename">jiyf</span>
                                </div>
                            </div>
                            <span class="m-exm-time">2016-12-20 11:18</span>
                            <span class="m-exm-remark">审批通过，意见为【同意】</span>
                        </li>
                        <li>
                            <div class="m-exm-label normal-weight-text">管理员</div>
                            <div class="m-exm-cont">
                                <div class="m-user-info-small">
                                    <img alt="纪永凤" class="m-user-img" src="assets/default-user.png">
                                    <span class="m-user-name">纪永凤</span>
                                    <span class="m-user-ename">jiyf</span>
                                </div>
                            </div>
                            <span class="m-exm-time">2016-12-20 11:18</span>
                            <span class="m-exm-remark">审批通过，意见为【同意】</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!--审批意见 -->
            <div class="apply-opinion">
                <div class="m-exm-item">
                    <p class="m-exm-advice">审批意见</p>
                    <textarea class="m-textarea" placeholder="请填写审批意见......"></textarea>
                </div>
            </div>
            <!--审批提交按钮 -->
            <div class="apply-submitBtn">
                <div class="m-exm-btn">
                    <button class="m-btn-agree apply-agree">同意</button>
                    <button class="m-btn-refuse apply-refuse">驳回</button>
                    <div class="m-dropdown">
                        <button class="m-btn-more-big">更多<i class="iqon-xia"> </i></button>
                        <ul class="m-dropdown-option clearfix">
                            <li>加签</li>
                            <li>转办</li>
                        </ul>
                    </div>
                    <button class="m-btn-text">返回</button>
                </div>
            </div>
        </div>
        <!--审批过程 -->
        <div class="apply-p-right">
            <iq-apply-modules></iq-apply-modules>
        </div>
    </div>
</div>
