.apply-progress .apply-p-left {
    margin-right: 0px;
}
.apply-p-right {
    position: relative;
    overflow-x:hidden;
}
.apply-progress .apply-p-left.apply-p-infor {
    min-height: 160px;
}
.mh280{
    min-height: 280px !important;
}
.mt15{
    margin-top: 12px !important;
}
.apply-progress .apply-p-left .apply-p-infor .m-exm-item {
   width: 100%;
}
.apply-progress .apply-p-left .apply-p-infor .m-exm-item ul > li .m-exm-cont {
    padding-left: 50px;
}
.clearfix { 
    *zoom: 1; 
  } 
.clearfix:before,.clearfix:after {    
    display: table;     
    line-height: 0;     
    content: "";    
  } 
.clearfix:after {        
    clear: both;      
  } 
.m-text-center{
    span{
        font-weight: bold;
        text-align: left;
    }
}
.btn-content{
    height: 45px;
    .right{
        float:right;
        margin-top: 21px;
        margin-right: 41px;
        .min-btn{
            height: 24px;
            width: 88px;
            font-size: 12px;
            line-height: 24px;
        }
    }
}
.m-info-table {
    width: 100%;
}
.tp20{
    text-align: left;
    padding-left: 20px;
    width: 10%;
}
.pdf {
    width: 154.5px;
    height: 13px;
    font-family: MicrosoftYaHei;
    font-size: 12px;
    line-height: 2.67;
    text-align: left;
    color: #57b9f8;
  }
  .pdLi{
      height: 30px;
      line-height: 30px;
  }
  .btP10{
      padding: 10px 0;
  }
  .tpContent{
    display: inline-block;
  }
  .apply-p-left{
    /deep/ .apply-record {
        margin: 10px 20px;
    }
  }
  .apply-progress .apply-p-left .apply-p-base {
    overflow: hidden;
}
  .cur-point{
    cursor: pointer;  
  }
  .queto{
    white-space:nowrap; 
    overflow:hidden; 
    text-overflow:ellipsis;
  }
 
  
  

  .addApply-container{
    margin-left: 0;
  }
  .apply-progress{
      margin: 0 20px 0 0;
  }
  .m-exm-item{
      padding: 0 25px 15px!important;
  }
  .m-exm-half{
    height: auto!important;
    margin-top: 18px!important;
  }
  .btn-content{
      height: auto;
  }
  .apply-finance-l{
      padding-bottom: 0!important;
      margin: 10px 20px 5px!important;
      table{
        margin-bottom:0!important;
        tbody{
            width: calc(100% + 1px);
            // padding-bottom: 0!important;
        }
    } 
  }
  .pos50{
    position: absolute;
    left: 50%;
    margin-left: -360px;
  }
  .posRe{
      position: relative;
  }
  .w176{
      width: 176px;
      width: 186px\0;
  }
  .bgcc{
    background-color:#ccc; 
  }