<div style="padding-top: 62px">
  <div class="m-home-pageL">
    <ul class="m-usertree">
      <li class="open m-hasicon">
        <i class="iqon-report"></i>
        <a href="javascript:;">我的申请</a>
        <ul class="m-tree">
          <li><a href="javascript:;">11111111111111111111111111111111111</a></li>
          <li class="active"><a href="javascript:;">222</a></li>
          <li><a href="javascript:;">333</a></li>
        </ul>
      </li>
      <li class="m-hasicon">
        <i class="iqon-record"></i>
        <a href="javascript:;">待我审批</a>
        <span class="m-num">5</span>
      </li>
      <li class="m-hasicon">
        <i class="iqon-check"></i>
        <a href="javascript:;">我已审批</a>
      </li>
    </ul>
  </div>
  <div class="m-home-pageR">
    <div class="m-scan">
      <div class="m-scan-body">
        <div class="m-scan-default">
          <div class="m-scan-logo">
            <i class="iqon-check iqon-main-default"></i>
          </div>
          <h3>待我审批为空</h3>
          <h4>你把小伙伴的申请都批完啦，棒棒哒~</h4>
        </div>
      </div>
    </div>
  </div>
</div><div>
  这里是测试文字
</div>