<div class="m-boardtop">
  <div class="m-crumbs">
      <ul>
        <li><a href="#">标题1</a></li>
        <li><a href="#">标题2</a></li>
        <li><a href="#">标题3</a></li>
        <li><a href="#">标题4</a></li>
        <li><a href="#">标题5</a></li>
        <li><a href="#">标题6</a></li>
      </ul>
  </div>
  <button class="m-btn-main-2 g-fr" style="margin-top: 7px;">+新增应用平台</button>
</div>
<div style="height: 500px;">
  <div class="m-apply">
      <div class="m-apply-circle">
          <i class="iqon-plus-circle"></i>
          <span>新建名片申请</span>
      </div>
  </div>
</div>