<div class="g-hdp">
    
        <div class="g-list">
            <div class="m-user-nav">
                <ul class="m-usertree">
                    <li routerLinkActive="active">       
                        <a routerLink="/supplier/supplier-sm"> 供应商管理</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/supplier/supplier-mApply"> 我的申请</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/supplier/supplier-mApproval"> 我的审批</a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="g-right">
            <router-outlet></router-outlet> 
        </div>
        
        
    </div>
    
    
    