<!--审批过程右侧fixed-->
<div class="m-step-progress2 clearfix">
    <div class="m-apply-step-pro m-apply-finish">
        <i class="iqon-right"></i>
        <span>事业部审批</span>
    </div>
    <div class="m-apply-step-pro m-apply-finish">
        <i class="iqon-right"></i>
        <span>事业部加签</span>
    </div>
    <div class="m-apply-step-pro m-apply-process">
        <i class="iqon-flage"></i>
        <span>财务审批</span>
    </div>
    <div class="m-apply-step-pro">
        <i class="iqon-more"></i>
        <span>商务审核</span>
    </div>
    <div class="m-apply-step-pro">
        <i class="iqon-more"></i>
        <span>器材过账</span>
    </div>
    <div class="m-apply-step-pro">
        <i class="iqon-more"></i>
        <span>财务发票岗</span>
    </div>
</div>
